<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.pruebas.crud_saldos">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IngresarRegistros"
            android:label="@string/title_activity_ingresar_registros"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="local.pruebas.crud_saldos.MainActivity" />
        </activity>
        <activity
            android:name=".ConsultarRegistros"
            android:label="@string/title_activity_consultar_registros"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="local.pruebas.crud_saldos.MainActivity" />
        </activity>
        <activity
            android:name=".Param"
            android:label="@string/title_activity_param"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="local.pruebas.crud_saldos.MainActivity" />
        </activity>
        <activity
            android:name=".configurarcuentas"
            android:label="@string/title_activity_configurarcuentas"
            android:parentActivityName=".Param"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="local.pruebas.crud_saldos.Param" />
        </activity>
    </application>

</manifest>
